# env files - NEVER commit these
.env.local
.env*.local
.env

# dependencies
node_modules/
/.pnp
.pnp.js

# Next.js
.next/
out/

# production build
build/
dist/

# misc
.DS_Store
*.pem
Thumbs.db

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
